@{
	Layout = "~/Views/Shared/_NewDefaultLayout.cshtml";
}
<head>
	<title>Yönetici Paneli</title>
</head>


<!-- Navigation-->
<a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
<nav id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand"><a href="~/Default/Index"><h3><b>Fikir Havuzu</b></h3></a></li>
		<li class="sidebar-nav-item"><a href="~/Default/Index">Ana Sayfa</a></li>
		<li class="sidebar-nav-item"><a href="~/Admin/Index"><h4><b>Yönetici Paneli</b></h4></a></li>
		<li class="sidebar-nav-item"><a href="~/Idea/List">Fikir/Öneri İşlemleri</a></li>
		<li class="sidebar-nav-item"><a href="~/Admin/ListUsers">Kullanıcı İşlemleri</a></li>
		<li class="sidebar-nav-item"><a href="~/MyProfile/Index">Profilim</a></li>
		<li class="sidebar-nav-item"><a href="~/Default/Index">Çıkış Yap</a></li>
	</ul>
</nav>

<div class="masthead d-flex align-items-center">
	<div class="container px-4 px-lg-5 text-center">
		<div class="container">
			<div class="card-group" style="border-style: solid;border-color:black; border-width: 25px;border-radius:25px">
				
				<div class="card" >
					<img src="~/my_import/home.png" class="card-img-top" alt="...">
					<div class="card-body">
						<h2 class="card-title"><a href="~/Default/Index" style="text-decoration:none;color:black"><b>Ana Sayfa</b></a> </h2>
						<p class="card-text">Ana sayfaya dönmek için bu bağlantıyı kullanın.</p>
					</div>
				</div>
				<div class="card">
					<img src="~/my_import/idea.png" class="card-img-top" alt="...">
					<div class="card-body">
						<h2 class="card-title"><a href="~/Idea/List" style="text-decoration:none;color:black"><b>Fikir/Öneri İşlemleri</b></a></h2>
						<p class="card-text">Fikirleri/Önerileri listelemek veya değerlendirmede bulunmak için bu bağlantıyı kullanın.</p>
					</div>
				</div>
				<div class="card">
					<img src="~/my_import/people.png" class="card-img-top" alt="...">
					<div class="card-body">
						<h2 class="card-title"><a href="~/Admin/ListUsers" style="text-decoration:none;color:black"><b>Kullanıcı İşlemleri</b></a></h2>
						<p class="card-text">Sistemde kayıtlı kullanıcıları görüntülemek veya yetkilerini güncellemek için bu bağlantıyı kullanın.</p>
					</div>
				</div>
				<div class="card">
					<img src="~/my_import/user2.png" class="card-img-top" alt="...">
					<div class="card-body">
						<h2 class="card-title"><a href="~/MyProfile/Index" style="text-decoration:none;color:black"><b>Profilim</b></a></h2>
						<p class="card-text">Profilinizi görüntülemek yada değişiklik yapmak için bu bağlantıyı kullanın.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
